:root {
  --dark-grad: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%);
  --bg-dark: #030303;
  --dark-red: #710707;
  --gold: #9d8665;
  --dark-gold: #7e6c51;
  --white: #ffffff;
  --font1: 80px;
  --font2: 32px;
}

@media (max-width: 1024px) {
  :root {
    --font1: 50px;
    --font2: 28px;
  }
}

@media (max-width: 768px) {
  :root {
    --font1: 40px;
    --font2: 22px;
    --dark-grad: linear-gradient(90deg, rgb(0 0 0 / 0%) 0%, rgb(0 0 0 / 0%) 16.19%, rgba(0, 0, 0, 0) 30.73%);
  }
}

@media (max-width: 420px) {
  :root {
    --font1: 28px;
    --font2: 18px;
  }
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
}

body {
  font-family: Roboto;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
 /* overflow: hidden; */
}

button {
  border: 0;
}

li {
  list-style: none;
}

p, 
a {
  font-family: Roboto;
}

a {
  text-decoration: none;
}

a:active {
  background-color: var(--dark-gold);
}

button {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

input {
  font-family: Roboto;
}

iframe {
  border-style: none;
}

*:hover {
  transition: 0.3s;
}

input:-webkit-autofill {
  background-color: transparent;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
}

.section {
  padding: 74px 0;
}

.dark-section {
  background: var(--bg-dark);
  color: var(--white);
}
 
.flex {
  display: flex;
  justify-content: space-between;
}

.grid {
  display: grid;
}

.logo, .main-menu {
  align-items: center;
}

.header {
  padding-top: 50px;
  padding-bottom: 49px;
}

.main-menu {
  column-gap: 55px;
  padding-inline-start: 0px;
  max-width: 770px;
}

#nav-toggle {
  display: none;
  width: 32px;
  height: 32px;
  background-image: url("./assets/svg/burger.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.menu__item,
.footer-copy__text {
  font-size: 22px;
  font-weight: 200;
  letter-spacing: 2px;
  line-height: 50px;
}

.menu__additional {
  display: none;
}

.title,
.logo__text {
  font-family: 'Forum', cursive;
  font-weight: 400;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.title {
  line-height: 90px;
}

.logo {
  display: flex;
  cursor: pointer;
}

.logo__icon {
  width: 50px;
  height: 34px;
  background-image: url("./assets/svg/logo.svg");
}

.logo__icon:hover, .social-media__icon:hover a  {
  filter: invert(58%) sepia(35%) saturate(334%) hue-rotate(356deg) brightness(87%) contrast(89%);
}

.logo__text {
  padding-left: 21px;
  font-size: 28px;
  line-height: 50px;
}

.title-size-l {
  line-height: 90px;
  font-size: var(--font1);
}

.title-size-m {
  padding-top: 20px;
  line-height: 35px;
  font-size: var(--font2);
}

.font-gold {
  color: var(--gold);
}

.font-white {
  color: var(--white);
}

a.font-white:hover,
a.font-white:active {
  color: var(--gold);
}

.underlined {
  position: relative;
}

.underlined::after {
  content: "";
  position: absolute;
  background-color: var(--dark-red);
}

.title-size-l.underlined {
  margin-bottom: 104px;
}

.title-size-l.underlined::after {
  bottom: -28px;
  left: 0;
  right: 0;
  height: 3px;
}

.title-size-m.underlined::after {
  bottom: -11px;
  left: 0;
  right: 32%;
  height: 2px;
  transition: 1s;
}

.welcome-section {
  height: 812px;
}

.welcome-section__background {
  margin: 0 auto;
  height: 750px;
  max-width: 1920px;
  background-image: url("./assets/img/welcome-louvr.jpg");
  background-repeat: no-repeat;
  background-position: calc(100% + 20px);
}

.welcome-section__text {
  position: absolute;
  z-index: 10;
}

.welcome-section__title {
  padding-top: 152px;
  padding-bottom: 26px;
}

.welcome-section__slogan {
  padding-bottom: 100px;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 2px;
  line-height: 33px;
}

.welcome-section__button {
  padding: 24px 68px 25px;
  font-weight: 200;
  letter-spacing: 2px;
  background: var(--dark-red);
  border-radius: 10px;
  color: var(--white);
}

.welcome-section__button:hover {
  background: var(--gold);
}

.welcome-section__slider {
  float: right;
  position: relative;
  width: 1000px;
  height: 812px;
  overflow: hidden;
}

.welcome-section__slider-imgs {
  display: flex;
  width: inherit;
  height: inherit;
  transition: .5s transform;
}

.welcome-section__img {
  flex: 0 0 100%;
  display: inline-block;
}

.welcome-section__slider-nav {
  position: absolute;
  right: 0px;
  bottom: 0px;
  padding: 40px 72px;
  display: inline-flex;
  column-gap: 45px;
  background-color: var(--bg-dark);
}

.welcome-section__slide-num {
  line-height: 40px;
  letter-spacing: 2.3px;
}

.welcome-section__slider-bullets {
  display: flex;
  align-items: center;
  column-gap: 29px;
}

.welcome-section__slider-bullet {
  width: 16px;
  height: 16px;
  background-color: var(--white);
}

.welcome-section__slider-bullet:hover { 
  background-color: var(--gold);
}

.welcome-section__slide-active {
  background-color: var(--gold);
}

.welcome-section__slide-active:hover {
  background-color: var(--dark-gold);
}

.welcome-section__slider-arrows {
  align-self: center;
}

.welcome-section__left-arrow,
.welcome-section__right-arrow {
  width: 29px;
  height: 29px;
  margin: 0 6px;
}

.welcome-section__left-arrow:hover,
.welcome-section__right-arrow:hover {
  filter: invert(68%) sepia(0%) saturate(1442%) hue-rotate(135deg) brightness(89%) contrast(86%);
}

.welcome-section__left-arrow {
  background-image: url("./assets/svg/left-arrow.svg");
}

.welcome-section__right-arrow {
  background-image: url("./assets/svg/right-arrow.svg");
}

.three-row-grid {
  flex-wrap: wrap;
  row-gap: 76px;
}

.card {
  display: block;
  color: var(--bg-dark);
}

.card:hover .title-size-m.underlined::after {
  right: 0%;
}

.card__img {
  width: 440px;
  height: 285px;
}

.card__text {
  padding-top: 10px;
  font-weight: 200;
  font-size: 18px;
}

.card__text_big {
  padding: 11px 0;
  font-size: 22px;
  line-height: 26px;
}

.card__text_small {
  font-size: 18px;
  line-height: 21px;
}

.explore-section.flex {
  flex-direction: column;
}

.explore-section__text {
  width: 659px;
}

.explore-section__gold-phrase {
  color: var(--gold);
}

.explore-section__text_paragraph {
  padding-top: 2px;
  padding-bottom: 24px;
	line-height: 38px;
}

.explore-section__img-container{
  margin-top: 16px;
  position: relative;
  height: 700px; /*should be the same height as the images*/
  justify-self: end;
}

.explore-section__filter {
  position: absolute;
  z-index: 10;
}

.explore-section__img-container img {
  display: block;
  vertical-align: middle;
}

.img-comp-overlay {
  top: 0;
  position: absolute;
  z-index: 10;
  width: calc(50% + 3vw);
  overflow: hidden;
}

.img-comp-slider {
  position: absolute;
  width: 30px;
  height: 100%;
  left: calc(50% - 15px + 3vw);
  top: 0;
  z-index: 100;
}

.img-comp-slider-circle {
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  width: 30px;
  height: 30px;
  border: 5px solid #ffffff;
  border-radius: 50%;
}

.img-comp-slider-line {
  transform: translateX(17px);
  height: calc(50% - 20px);
  width: 5px;
  background-color: #ffffff;
}

.filter-line,
.filter-circle {
  display: block;
}

.filter-line {
  height: 328px;
  width: 5px;
}

.filter-circle {
  width: 38px;
  height: 38px;
  border: 5px solid #ffffff;
  border-radius: 50%;
}

.video-section {
  padding-top: 76px;
  padding-bottom: 70px;
}

.video-section__text {
	padding-bottom: 75px;
  line-height: 38px;
}

.video-section__paragraph,
.video-section__title {
	flex-basis: 50%;
}

.video-section__paragraph {
  padding-top: 8px;
}

.video-section__player {
  margin-bottom: 40px;
  background: black;
  position: relative;
  cursor: pointer;
}

.video-section__player video {
  width: 100%;
  height: 650px;
  object-fit: cover;
}

.controls-container {
  height: 78px;
  padding-left: 20px;
  padding-right: 24px;
  align-items: center;
  background: var(--bg-dark);
}

.control-big-play {
  width: 220px;
  height: 220px;
  position: absolute;
  top: 44%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-image: url("./assets/svg/big-play.svg");
  background-size: cover;
}

.video-icon {
  width: 41px;
  height: 41px;
  background-size: cover;
}

.video-icon:hover {
  filter: invert(68%) sepia(0%) saturate(1442%) hue-rotate(135deg) brightness(89%) contrast(86%);
}

/* Progress Bar */
.progress-range {
  height: 8px;
  margin-bottom: 4px;
  
  -webkit-appearance: none;
  border-radius: 0;
  cursor: pointer;
}

.progress-range::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: ew-resize;
  background: var(--white);
}

.progress-range__video {
  width: 929px;
  background: linear-gradient(to right, var(--dark-red) 0%, var(--dark-red) 31%, #c4c4c4 31%, #c4c4c4 100%);
}

.progress-range__volume {
  width: 155px;
  background: linear-gradient(to right, var(--dark-red) 0%, var(--dark-red) 100%, #c4c4c4 100%, #c4c4c4 100%);
}

.progress-range:hover {
  height: 10px;
}

.control-left {
  background-image: url("./assets/svg/left.svg");
}

.control-play {
  background-image: url("./assets/svg/play.svg");
}

.control-pause {
  background-image: url("./assets/svg/pause.svg");
}

.control-right {
  background-image: url("./assets/svg/right.svg");
}

.control-volume {
  padding: 2px;
  background-image: url("./assets/svg/volume.svg");
}

.control-volume-none {
  padding: 2px;
  width: 40px;
  height: 33px;
  background-image: url("./assets/svg/mute.svg");
}

.control-resize {
  background-image: url("./assets/svg/resize.svg");
}

.control-resize-exit {
  width: 33px;
  height: 33px;
  background-image: url("./assets/svg/fullscreen_exit.svg");
}

.control-pause {
  width: 28px;
  height: 33px;
}

.video-fullscreen {
  height: 91% !important;
}

.player-fullscreen .progress-range {
  height: 10px;
}

.player-fullscreen .progress-range__video {
  width: 70%;
}

.player-fullscreen .progress-range__volume {
  width: 255px;
}

.player-fullscreen .controls-container {
  padding-left: 50px;
  padding-right: 54px;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide iframe {
  display: block;
  width: 100%;
  height: 252px;
  object-fit: cover;
}

.swiper-nav {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-prev,
.swiper-button-next,
.swiper-pagination {
  position: static;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.swiper-button-prev {
  background: url("./assets/svg/video-arrow-left.svg") no-repeat;
}

.swiper-button-next {
  background: url("./assets/svg/video-arrow-right.svg") no-repeat;
}

.swiper-button-prev,
.swiper-button-next {
  margin-top: 3px;
  width: 10px;
  height: 12px;
  background-size: cover;
}

.swiper-pagination {
  width: 180px !important;
}

.swiper-pagination-bullet { 
  margin: 0 10px !important;
  width: 12px;
  height: 12px;
  background-color: #999999;
  opacity: 1;
}

.swiper-pagination-bullet:hover { 
  background-color: var(--dark-red);
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  filter: invert(10%) sepia(79%) saturate(3653%) hue-rotate(353deg) brightness(83%) contrast(102%);
}

.swiper-pagination-bullet-active {
  background-color: #333333;
}

.gallery-section {
  position: sticky;
  padding-top: 74px;
}

.gallery__container {
  height: 2125px;
  overflow: hidden;
  box-shadow: inset 0 -210px 360px 0px rgb(0 0 0);
}

.gallery__container-inner {
  position: relative;
  padding: 75px 0 0;
  display: flex;
  column-count: 3;
  flex-wrap: wrap;
  justify-content: start;
  flex-direction: column;
  height: 2900px;
  row-gap: 24px;
  column-gap: 34px;
  z-index: -2;
}

.gallery__item {
   width: calc(33.3% - 24px);
}

.gallery__img {
  width: 100%;
  opacity: 0;
  transition: 0.4s ease-out;
  transform: translateY(40px);
}

.fade-up {
  opacity: 1;
  transition: 1s ease-out;
  transform: translateY(0px);
}

.gallery__item:nth-child(11),
.gallery__item:first-child {
  margin-top: 50px;
}

.tickets-section__block {
  justify-content: flex-start;
}

.tickets-section__img-container {
  position: relative;
}

.tickets-section__img {
  padding-right: 60px;
  object-fit: cover;
}

.img-magnifier-glass {
  position: absolute;
  border: 2px solid #000;
  border-radius: 50%;
  cursor: none;
  width: 100px;
  height: 100px;
}

.tickets-section__type {
  flex-direction: column;
}

.tickets-section__type .tickets-section__subheading {
  padding-bottom: 50px;
}

.tickets-section__subheading,
.tickets-section__price {
  font-size: 28px;
  font-weight: bold;
  line-height: 33px;
}

.tickets-section__price {
  letter-spacing: 1.65px;
}

/* The container */
.container-radiobutton {
  display: block;
  position: relative;
  margin-bottom: 50px;
  padding-left: 40px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container-radiobutton input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 2px;
  left: -1px;
  height: 14px;
  width: 14px;
  border: 2px solid var(--bg-dark);
  border-radius: 50%;
}

/* When the radio button is checked, add a blue background */
.container-radiobutton input:checked ~ .checkmark {
  border: 2px solid var(--bg-dark);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container-radiobutton input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container-radiobutton .checkmark:after {
 	top: 4px;
	left: 4px;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: var(--bg-dark);
}

.tickets-section__purchase {
  margin-left: auto;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.tickets-section__purchase .tickets-section__subheading {
  float: right;
}

.tickets-section__quantity {
  margin-top: -3px;
  display: flex;
  flex-direction: column;
}

.tickets-section__amount-block {
  display: inline-block;
  border: 3px solid var(--bg-dark);
}

.tickets-section__amount-btn,
.tickets-section__amount { 
  background-color: transparent;
  color: var(--bg-dark);
}

.tickets-section__amount-btn {
  padding: 3px 11px;
  font-family: Roboto;
  font-size: 32px;
  line-height: 37px;
  cursor: pointer;
}

.tickets-section__amount {
  transform: translate(-20px, -3px);
  width: 46px;
  text-align: end;
  font-family: Roboto;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  border: 0;
}

.tickets-section__amount::-webkit-inner-spin-button {
  display: none;
}

.tickets-section__basic-text,
.tickets-section__senior-text {
  padding: 13px 0;
}

.tickets-section__basic-text {
  display: inline-block;
}

.tickets-section__senior-text {
  padding-top: 39px;
}

.tickets-section__price {
  padding: 51px 0;
}

.tickets-section__button {
  display: block;
  padding: 13px 37px 11px;
  letter-spacing: 2px;
  background: var(--bg-dark);
  border-radius: 2px;
  color: var(--white);
}

.tickets-section__button:hover {
  background: var(--gold);
  color: var(--bg-dark);
}

.tickets-modal__container {
  max-width: 1440px;
  margin: 0 auto;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 200%;
  right: 0;
  z-index: 1000;
  transition: 0.8s;
}

.tickets-modal__close {
  transform: translate(-45px, 30px);
  float: right;
  width: 25px;
  height: 25px;
  background: url("./assets/svg/contact/close.svg") no-repeat;
  cursor: pointer;
}

.active-modal {
  left: 0%;
}

.overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  z-index: 100;
  transition: .3s all;
}

.active-overlay { 
  opacity: 1;
  visibility: visible;
}

.tickets-modal__description {
  padding: 90px 15px;
  display: flex;
  justify-content: center;
  column-gap: 40px;
  background-color: #ffffff;
}

.tickets-modal__booking {
  width: 400px;
}

.tickets-modal__logo {
  width: 85px;
  height: 41px;
  background-image: url(./assets/svg/logo-gold.svg);
}

.tickets-modal__title {
  margin-bottom: 12px;
  font-size: 50px;
  letter-spacing: 0;
  line-height: 55px;
  color: var(--gold);
}

.tickets-modal__subtitle {
  margin-bottom: 70px;
  color: var(--dark-red);
}

.tickets-modal__subtitle.underlined::after {
  bottom: -10px;
  left: 0;
  right: 0;
  height: 3px;
}

.tickets-modal,
.contact__input,
.tickets-modal__amount,
.tickets-modal__amount-btn {
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
}

.contact__input {
  margin-bottom: 20px;
  padding: 10px 0;
  padding-left: 45px;
  width: calc(100% - 45px);
  border: 1px solid var(--bg-dark);
  outline: none;
}

.error {
	border-color: red;
}

.error-message {
	color: red;
	font-style: italic;
	margin-bottom: 1em;
}

.contact__content-date-time {
  display: flex;
  column-gap: 20px;
}

input[type="date"]:in-range::-webkit-datetime-edit {
  display: none;
}

.with-contact__icon {
  background-position: 15px 50%;
  background-repeat: no-repeat;
}

input[type="date"].with-contact__icon, 
.icon-date {
  background-image: url("./assets/svg/contact/date.svg");
}

input[type="date"]:in-range::before {
  content: "Date";
  width: 100%;
}

.icon-time {
  background-image: url("./assets/svg/contact/time.svg");
}

input[type="date" i]::-webkit-calendar-picker-indicator,
.select-icon {
  transform: translateX(-7px);
  width: 1.6em;
  background-image: url(./assets/svg/contact/arrow.svg);
}

select#ticket-type option {
  font-weight: 300;
}

input::-webkit-input-placeholder {
  color: var(--bg-dark);
}

input#name {
  background-image: url(./assets/svg/contact/name.svg);
}

input#email {
  background-image: url(./assets/svg/contact/email.svg);
}

input#phone {
  background-image: url(./assets/svg/contact/tel.svg);
}

select#ticket-type {
  position: relative;
  width: 100%;
  background: url(./assets/svg/contact/arrow.svg) 96% center no-repeat, url(/assets/svg/contact/ticket-type.svg) 4% center no-repeat;
  appearance: none; 
	-webkit-appearance: none;
	-moz-appearance: none; 
}

select#time {
  position: relative;
  width: 100%;
  background: url(./assets/svg/contact/arrow.svg) 96% center no-repeat, url(/assets/svg/contact/time.svg) 4% center no-repeat;
  appearance: none; 
	-webkit-appearance: none;
	-moz-appearance: none; 
}

select::-ms-expand {
  display: none;
}

.select-icon {
  position: absolute;
  z-index: 10;
  background-repeat: no-repeat;
  height: 18px;
  transform: translate(-32px, 13px);
}

.icon-type {
  background-image: url(./assets/svg/contact/check-circle.svg);
}

.tickets-modal__quantities {
  margin-top: 2px;
  padding: 7px 15px 10px;
  border: 1px solid var(--bg-dark);
}

.tickets-modal__quantity {
  align-items: center;
  padding-top: 20px;
}

.tickets-modal__amount-block {
  transform: translateX(4px);
}

.tickets-modal__amount-btn {
  width: 35px;
  height: 25px;
  color: #ffffff;
  background-color: var(--bg-dark);
}

.tickets-modal__amount-btn:nth-of-type(2n) { 
  transform: translate(-4px);
}

.tickets-modal__amount-btn:nth-of-type(2n+1) { 
  transform: translate(4px);
}

.tickets-modal__amount {
  padding: 0;
  width: 31px;
  height: 23px;
  text-align: center;
  border: 1px solid var(--bg-dark);
}

.tickets-modal__amount::-webkit-inner-spin-button {
  display: none;
}

.tickets-modal__quantity-heading {
  font-family: Forum;
  font-size: 18px;
  line-height: 25px;
  color: var(--gold);
}

.tickets-modal__quantity-heading.underlined::after {
  bottom: -4px;
  left: 0;
  right: 0;
  height: 2px;
}

.tickets-modal__payment {
  padding: 25px 30px;
  width: 470px;
  border: 1px solid var(--bg-dark);
}

.tickets-modal__overview {
  margin-bottom: 16px;
}

.overview-heading {
  margin-bottom: 4px;
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
}

.overview-subheading {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: var(--dark-red);
}

.with-payment__icon {
  background-position: 0px 50%;
  background-repeat: no-repeat;
}

.overview-text {
  margin-bottom: 6px;
  padding-left: 30px;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
}

.overview-img {
  width: 150px;
  height: 120px;
  object-fit: cover;
}

.overview-price__description {
  display: flex;
  column-gap: 4px;
}

.overview-price__table {
  grid-template-columns: repeat(2, 1fr);
  row-gap: 5px;
  margin-bottom: 21px;
}

.overview-price__table.underlined::after {
  bottom: -9px;
  left: 0;
  right: 0;
  height: 2px;
}

.overview-price__price,
.overview-price__sum {
  justify-self: end;
}

.overview-price__quantity {
  margin-right: 4px;
  padding: 0px 12px;
  height: 20px;
  line-height: 20px;
  color: #a4a4a3;
  background-color: var(--bg-dark);
  border-radius: 5px;
}

.overview-price__text,
.overview-price__price {
  font-size: 22px;
}

.overview-price__total,
.overview-price__sum {
  font-size: 32px;
  line-height: 37px;
}

.tickets-modal__card-front,
.tickets-modal__card-back {
  padding: 15px 20px;
  width: 320px;
  height: 181px;
  border-radius: 3px;
}

.tickets-modal__card-front {
  position: absolute;
  transform: translateY(10px);
  background-color: #a4a4a3;
  z-index: 10;
}

.card-types {
  margin-top: 20px;
  float: right;
}

.card-type {
  width: 53px;
  height: 32px;
  background-repeat: no-repeat;
}

.card-type__visa {
  background-image: url(./assets/svg/contact/visa.svg);
}

.card-type__master {
  background-image: url(./assets/svg/contact/mastercard.svg);
}

.card-label {
  display: block;
  font-size: 12px;
  line-height: 14px;
}

.card-input {
  margin: 5px 0 10px;
  padding: 0;
  height: 35px;
  font-size: 12px;
  line-height: 14px;
  border: none;
}

.card-input::-webkit-textfield-decoration-container {
  margin-left: 10px;
}

#card-num {
  width: 215px;
}

.card-exp-date {
  margin-right: 10px;
  width: 100px;
}

.card-exp-date::-webkit-outer-spin-button, 
.card-exp-date::-webkit-inner-spin-button {
    -webkit-appearance: none;
    background: #FFF url(./assets/svg/contact/input-num-spin.svg) no-repeat center center;
    width: 28px;
    border-left: 1px solid #BBB;
    opacity: .5; /* shows Spin Buttons per default (Chrome >= 39) */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

.card-exp-date::-webkit-inner-spin-button:hover,
.card-exp-date::-webkit-inner-spin-button:active{
    opacity: .8;
}

#card-name {
  padding-left: 10px;
  width: 310px;
}

#card-back__cvc {
  margin-bottom: 6px;
  width: 75px;
}

.tickets-modal__card-back {
  float: right;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: #939393;
}

.card-black-line {
  transform: translate(20px, -17px);
  width: 360px;
  height: 45px;
  background-color: var(--bg-dark);
}

.card-back__data {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-back__text {
  width: 55px;
  font-size: 10px;
  line-height: 12px;
}

.tickets-modal__payment-btn {
  float: right;
  transform: translateY(27px);
  padding: 11px 85px 10px;
  font-size: 22px;
  line-height: 26px;  
  color: #ffffff;
  background-color: var(--dark-red);
}

.parallax {
  transform: translateY(-16px);
  width: 100%;
  height: 400px;
  background-image: url(./assets/img/parallax.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.contacts-section__text_big {
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
}

.contacts-section__text-info{
  padding-top: 36px;
}

.contacts-section__text_small {
  padding-bottom: 20px;
}

.contacts-section__text_small a {
  color: var(--bg-dark);
}

.contacts-section__text_small a:hover {
  color: var(--gold);
}

.contacts-section__map {
  width: 960px;
  height: 620px;
  background: url(./assets/img/map.png) no-repeat;
}

.footer .logo {
  padding-bottom: 94px;
}

.footer-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.footer-menu {
  padding-top: 4px;
  padding-left: 145px;
  column-count: 2;
  column-gap: 157px;
}

.social-media {
  align-items: flex-end;
  column-gap: 25px;
  margin-left: auto;
  padding-bottom: 14px;
}

.social-media__icon {
  width: 46px;
  height: 46px;
  border: 1px solid #666666; 
  border-radius: 50%;
}

.social-media__icon a {
  display: block;
  transform: translate(50%, 50%);
  width: 24px;
  height: 24px;
}

.youtube {
  background-image: url(./assets/svg/youtube.svg);
}

.insta {
  background-image: url(./assets/svg/instagram.svg);
}

.facebook {
  background-image: url(./assets/svg/facebook.svg);
}

.twitter {
  background-image: url(./assets/svg/twitter.svg);
}

.pinterest {
  background-image: url(./assets/svg/pinterest.svg);
}

.social-media__icon:hover {
  border-color: var(--gold);
}

.gray-line {
  margin: 40px 0 28px;
  background-color: #666666;
  border: none;
  height: 3px;
}

.footer-copy {
  display: flex;
  justify-content: space-between;
}

.footer-copy__text:nth-of-type(2) {
  padding-left: 50px;
}

.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: block;
  padding: 0 0.3rem;
  border-radius: 0.4rem;
  z-index: 1000;
  transition: 0.4s;
}

.scrollup__icon {
  width: 4vw;
  height: 4vw;
  color: #ffffff;
  background: url(./assets/svg/arrow-circle-up.svg) no-repeat;
}

/* Show scroll */
.show-scroll {
  bottom: 5rem;
}


@media (max-width: 1440px) { 
  .container {
    max-width: calc(100% - 40px);
  }

  .explore-section .flex {
    flex-direction: column;
  }

  .tickets-section__type {
    display: none;
  }
}

@media (max-width: 1024px) { 
  body {
  	font-size: 20px;
  }

  .section {
    padding: 54px 0;
  }
  
  .header {
    padding-top: 41px;
    padding-bottom: 38px;
   }
  .nav-container {
    position: absolute;
    top: 128px;
    left: -100%;
    width: 297px;
    height: 565px;
    padding-top: 22px;
    background-color: var(--bg-dark);
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    z-index: 20;
  }
  .main-menu {
    flex-direction: column;
    justify-content: unset;
  }
  .show-menu {
    left: 0;
  }
  .main-menu__item{
    padding: 13px 55px;
    align-self: start;
    width: 67px;
    font-size: 20px;
    line-height: 23px;
    background: url('./assets/svg/menu-arrow.svg') no-repeat center right;
  }
  #nav-toggle,
  #nav-close {
    display: block;
    align-self: center;
  }

  .title-size-l.underlined {
    margin-bottom: 75px;
  }
  .title-size-l.underlined::after {
    bottom: -16px;
  }
  .title-size-m {
  	letter-spacing: 3px;
  }
  .title-size-m.underlined::after {
  	bottom: -9px;
  	right: 55%;
  }

  .welcome-section {
    height: 586px;
  }
  .welcome-section__slider {
    width: 700px;
    height: 586px;
  }
  .welcome-section__slider-nav{
  	padding-left: 196px;
  }
  .welcome-section__img {
  	background-size: 100% !important;
  }
  .welcome-section__title {
    padding-top: 50px;
    padding-bottom: 22px;
  }
  .welcome-section__slogan {
  	padding-bottom: 64px;
    font-size: 24px;
  }
  .welcome-section__button {
    padding: 17px 46px 18px;
  }
  .welcome-section__slider-bullet {
    width: 12px;
    height: 12px;
  }
  .welcome-section__slider-bullets {
    column-gap: 24px;
  }

  .three-row-grid {
    padding: 0 108px;
    row-gap: 60px;
  }
  .card__img {
    width: 330px;
    height: auto;
  }
  .card__text {
  	padding-top: 7px;
    letter-spacing: -1px;
  }
  .card__text_small {
  	line-height: 15px;
  }

  .explore-section {
  	padding: 59px 0px;
  }
  .explore-section__text {
  	width: 100%;
  }
  .explore-section__text_paragraph {
    padding-top: 0px;
    font-size: 20px;
  }
  .explore-section__text_paragraph:nth-of-type(1) {
  	padding-bottom: 0;
  }
  .explore-section__text_paragraph:nth-of-type(3) {
  	display: none;
  }
  .explore-section__img-container {
    margin-top: 34px;
    align-self: center;
  }
  .explore-section__img-container {
  	height: auto;
  }
  .explore-section__img-container img {
    width: 70vw;
  }
  .img-comp-slider {
    left: calc(50% - 20px + 7vw);
  }
  .img-comp-overlay {
    width: calc(50% + 7vw);;
  }

  .video-section {
    padding: 53px 0px;
  }
  .video-section__text {
    padding-bottom: 32px;
  }
  .video-section__paragraph {
  	display: none;
  }
  .video-section__player video {
    height: 444px;
  }
  .controls-container {
    height: 54px;
    padding-left: 19px;
    padding-right: 24px;
  }
  .control-big-play {
  	top: 44%;
    width: 152px;
    height: 152px;
  }
  .progress-range {
    height: 4px;
    margin-bottom: 6px;
  }
  .progress-range:hover {
	height: 6px;
  }
  .progress-range__video {
    width: 564px;
  }
  .swiper-slide iframe {
  	height: 170px;
  }
  .progress-range::-webkit-slider-thumb {
	  width: 13px;
	  height: 13px;	
  }
  .control-resize,
  .control-volume {
    width: 31px;
    height: 31px;
    margin-bottom: 8px;
  }
  a.ytp-title-text {
    font-size: 26px !important;
  }

  .gallery-section {
  	padding-top: 54px;
  }
  .gallery__container {
    height: 1406px;
  }
  .gallery__container-inner {
  	padding-top: 52px;
    height: 192vw;
  }
  .gallery__img {
    max-width: 304px;
  }

  .tickets-section,
  .tickets-modal {
  	padding: 54px 0 0;
  }
  .tickets-section__img {
  	width: 700px;
  	height: 440px;
  }
  .tickets-section__purchase {
    margin-left: 20px;
    align-items: initial;
  }
  .tickets-section__basic-text, .tickets-section__senior-text {
    padding: 30px 0 11px;
    font-size: 22px;
  }
  .tickets-section__amount-btn {
    padding: 3px 16px;
  }
  .tickets-section__amount {
    width: 53px;
  }
  .tickets-section__price {
    padding: 24px 0 70px;
  }
  .tickets-section__price-num {
  	padding-left: 14px;
  }
  .tickets-section__button {
    padding: 13px 42px 11px;
  }

  .tickets-modal__description {
  	width: 100%;
    padding: 80px 15px 30px;
  }
  .tickets-modal__close {
    transform: translate(-15px, 60px);
  }

  .parallax {
  	transform: translateY(4px);
  }

  .contacts-section {
  	padding: 60px 0;
  }
  .contacts-section__text_big {
  	font-size: 24px;
  	line-height: 29px;
  }
  .contacts-section__text-info {
    padding-top: 33px;
  }
  .contacts-section__text_small {
    padding-bottom: 12px;
  }
  .contacts-section__map {
    background: url(./assets/img/map1024.png) no-repeat;
    width: calc(100vw - 330px);
    height: calc(65vw - 212px);
  }

  .footer-menu {
    padding-left: 45px;
    column-gap: 100px;
  }
  .footer-copy__text:nth-of-type(2) {
    padding-left: 80px;
  }
  .gray-line {
    margin: 40px 0 36px;
  }
}

@media (max-width: 768px) { 
  body {
  	font-size: 18px;
  }

  .section {
    padding: 40px 0;
  }

  .header {
    padding-top: 34px;
    padding-bottom: 25px;
  }
  .nav-container {
  	top: 108px;
  	width: calc(100% - 110px);
  	height: 861px;
  	padding: 0 55px;
  }
  #nav-toggle {
  	transform: translateY(-4px);
  }
  .main-menu__item {
  	padding-left: 0;
  }
  .menu__additional {
  	display: block;
  }
  .menu__photos {
  	padding-top: 25px;
  	display: flex;
  	flex-wrap: wrap;
  	column-gap: 20px;
  	row-gap: 20px;
  }
  .menu__photo:first-of-type {
    width: 100%;
  }
  .menu__photo:nth-of-type(2),
  .menu__photo:nth-of-type(3) {
    width: 48%;
  }
  .menu__additional .gray-line {
  	margin: 27px 0 36px;
  }
  .menu__social-media {
  	display: flex;
  	justify-content: center;
  	padding-inline-start: 0;
    column-gap: 25px;
  }

  .title-size-l {
  	line-height: 60px;
  }
  .title-size-l.underlined {
    margin-bottom: 64px;
  }
  .title-size-l.underlined::after {
    bottom: -24px;
  }
  .title-size-m {
  	padding-top: 10px;
  }
  .title-size-m.underlined::after {
  	bottom: -7px;
  	right: 46%;
  }

  .welcome-section {
    height: 861px;
  }
  .welcome-section__slider {
    width: 100%;
    height: 646px;
  }
  .welcome-section__slider-nav{
  	width: 100%;
  	bottom: 80px;
  	justify-content: center;
  	padding: 0
  }
  .welcome-section__slide-num {
  	letter-spacing: 3.3px;
  }
  .welcome-section__img {
  	background-size: 100% !important;
  	height: 546px;
  }
  .welcome-section__text {
  	position: static;
  	margin: 0 auto;
  	text-align: center;
  }
  .welcome-section__title {
    padding-top: 0;
  }
  .welcome-section__slogan {
  	padding-bottom: 40px;
    font-size: 20px;
  }
  .welcome-section__button {
    display: none;
  }
  .welcome-section__slider-bullets {
    column-gap: 24px;
  }

  .visiting-section {
  	padding: 40px 0 80px;
  }
  .three-row-grid {
    padding: 0 56px;
    row-gap: 44px;
  }
  .card__img {
    width: 280px;
    height: auto;
  }
  .card__text {
  	letter-spacing: 0;
  }
  .card__text_big { 
    padding: 11px 0 5px;
  	font-size: 18px;
  }
  .card__text_small {
  	font-size: 16px;
  }

  .explore-section__text_paragraph {
  	display: none;
  }
  .explore-section__img-container {
  	width: 100%;
  	margin-top: 0;
  }
  .explore-section__img-container img {
    width: 95vw;
  }
  .img-comp-slider {
    left: calc(50% - 20px + 10vw);
  }
  .img-comp-overlay {
    width: calc(50% + 10vw);;
  }

  .video-section {
    padding: 40px 0px 74px;
  }
  .video-section__text {
    padding-bottom: 24px;
  }
  .video-section__player {
    margin-bottom: 20px;
  }
  .video-section__player video {
    height: 329px;
  }
  .control-big-play {
    top: 42%;
    width: 80px;
    height: 80px;
  }
  .controls-container {
    height: 46px;
  }
  .progress-range__video {
  	position: absolute;
    bottom: 46px;
    width: 100%;
    left: 0;
    background: linear-gradient(to right, var(--dark-red) 0%, var(--dark-red) 31%, #c4c4c4 31%, #c4c4c4 100%);
  }
  .progress-range__volume {
  	width: 486px;
  }
  .swiper-slide iframe {
  	height: 199px;
  }
  .swiper-nav {
    margin-top: 12px;
  }
  .swiper-pagination-bullet {
    width: 11px;
    height: 11px;
  }

  .gallery-section {
    padding-top: 38px;
  }
  .gallery__container {
    height: 1182px;
  }
  .gallery__container-inner {
  	padding-top: 42px;
  	column-gap: 28px;
    height: 2200px;
  }
  .gallery__item {
    width: calc(50% - 12px);
  } 
  .gallery__img {
    max-width: 350px;
  }

  .tickets-section__img {
  	padding-right: 40px;
    width: calc(101vw - 330px);
    height: calc(72vw - 212px);
  }
  .tickets-section__basic-text {
  	padding: 40px 0 11px;
  }
  .tickets-section__senior-text {
  	padding: 25px 0 11px;
  }
  .tickets-section__price {
    padding: 38px 0 40px;
  }
  .tickets-section__button {
  	padding: 14px 36px 11px;
  	font-size: 22px;
  }

  .tickets-modal__container {
    width: calc(100% - 178px);
    overflow-y: auto;
    overflow-x: hidden;
  }
  .tickets-modal {
  	padding: 0;
  }
  .tickets-modal__description {
    flex-direction: column;
    padding: 80px 30px 40px;
  }
  .tickets-modal__booking {
    width: calc(100% - 60px);
    padding-bottom: 50px;
  }
  .tickets-modal__payment {
    width: calc(100% - 90px);
    padding: 25px 14px;
  }
  .tickets-modal__subtitle {
    margin-bottom: 50px;
  }
  select#ticket-type {
    background: url(./assets/svg/contact/arrow.svg) 97% center no-repeat, url(/assets/svg/contact/ticket-type.svg) 2.5% center no-repeat;
  }
  .tickets-modal__payment-btn {
    margin-bottom: 25px;
  }

  .parallax {
  	height: 300px;
  }

  .contacts-section {
  	padding: 40px 0 65px;
  }
  .contacts-section__container {
  	flex-direction: column;
  }
  .contacts-section__text_big {
  	font-size: 20px;
  	line-height: 22px;
  }
  .contacts-section__text-info {
    padding-top: 38px;
  }
  .contacts-section__map {
    background: url(./assets/img/map768.png) no-repeat;
  	width: 100%;
  	height: 476px;
  	margin-top: 22px;
  }

  .footer-flex nav {
  	padding-left: 55px;
  }
  .footer-menu {
    column-gap: 22vw;
  }
  .social-media {
    padding-top: 24px;
    padding-right: 12vw;
  }
  .gray-line {
    margin: 24px 0 27px;
  }
  .footer-menu__item {
  	font-size: 18px;
  }
}

@media screen and (max-width: 420px){
  body {
  	font-size: 16px;
  }

  .section {
  	padding: 40px 0;
  }

  .header .logo {
  	transform: translateY(-4px);
  }
  .header .logo__text{
  	padding-left: 25px;
  }
  .logo__text{
    font-size: 16px;
    line-height: 18px;
  }
  .logo__icon{
    width: 29px;
    height: 16px;
    background-size: cover;
  }
  .nav-container {
  	top: 90px;
  	height: 544px;
  }
  .main-menu {
  	padding-top: 18px;
  }
  .menu__photos {
  	column-gap: 12px;
  }
  .menu__photo {
  	width: 30% !important;
  	height: 95px;
  	object-fit: cover;
  }
  .menu__additional .gray-line {
    margin: 16px 0 20px;
  }
  .menu__social-media {
  	column-gap: 5px;
  }

  .title-size-l {
  	line-height: 40px;
  }
  .title-size-m {
    padding-top: 6px;
    letter-spacing: 5px;
  }
  .title-size-m.underlined::after {
    bottom: -5px;
  }

  .welcome-section {
    height: 544px;
  }
  .welcome-section__title {
  	padding-top: 6px;
  }
  .welcome-section__slogan {
  	font-size: 18px;
  	line-height: 20px;
  	letter-spacing: 1px;
  	padding-bottom: 50px;
  }
  .welcome-section__slider {
  	height: 373px;
  }
  .welcome-section__img {
  	height: auto;
  }
  .welcome-section__slider-nav { 
  	column-gap: 20px;
  }
  .welcome-section__slide-num {
  	letter-spacing: 1px;
  }
  .welcome-section__slider-bullets {
  	column-gap: 10px;
  }
  .welcome-section__slider-bullet {
  	width: 7px;
  	height: 7px;
  }
  .welcome-section__right-arrow,
  .welcome-section__left-arrow {
  	width: 20px;
  	height: 12px;
  }
  .welcome-section__right-arrow {
  	background-image: url('./assets/svg/right-arrow-small.svg');
  }
  .welcome-section__left-arrow {
  	background-image: url('./assets/svg/left-arrow-small.svg');
  }

  .three-row-grid {
    padding: 0 50px;
    row-gap: 48px;
  }
  .card__text {
  	padding-top: 0;
  }
  .card__text_big,
  .card__text_small {
  	font-size: 16px;
  }

  .explore-section__img-container img {
    width: 90vw;
  }
  .img-comp-slider {
    width: 14px;
    left: calc(50% - 7px + 10vw);
  }
  .img-comp-slider-circle {
    width: 14px;
    height: 14px;
    border: 3px solid #ffffff;
  }
  .img-comp-slider-line {
    transform: translateX(9px);
    height: calc(50% - 10px);
    width: 2px;
  }
  .img-comp-overlay {
    width: calc(50% + 10vw)
  }

  .video-section {
    padding: 35px 0 32px;
  }
  .video-section__player {
    margin-bottom: 42px;
  }
  .video-section__player video{
    height: 172px;
  }
  .video-section__title {
	flex-basis: 100%;
  }
  .video-section__text {
  	padding-bottom: 18px;
  }
  .controls-container {
  	padding-left: 16px;
    padding-right: 19px;
  }
  .control-resize, 
  .control-volume,
  .control-play {
    width: 20px;
    height: 20px;
  }
  .progress-range::-webkit-slider-thumb {
	width: 10px;
	height: 10px;	
  }
  .progress-range__volume {
    width: 200px;
  }
  .control-big-play {
    top: 38%;
    width: 50px;
    height: 50px;
  }
  .swiper-slide iframe {
  	height: 100px;
  }
  .swiper-nav {
    margin-top: 30px;
  }
  .swiper-pagination {
    width: 160px !important;
  }
  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
  }
  .swiper-button-prev, 
  .swiper-button-next {
    width: 7px;
    height: 9px;
  }

  .gallery-section {
    padding-top: 43px;
  }
  .gallery__img {
    max-width: 178px;
  }
  .gallery__title {
    margin-bottom: 13px;
  }
  .gallery__container {
    height: 716px;
  }
  .gallery__container-inner {
  	column-gap: 24px;
    height: 1200px;
  }

  .tickets-section__block {
    flex-direction: column;
    row-gap: 39px;
    align-items: center;
  }
  .tickets-section__img {
  	padding: 0;
    width: 100%;
    height: 160px;
  }
  .tickets-section__purchase {
  	margin-left: 0;
    align-items: center;
  }
  .tickets-section__subheading,
  .tickets-section__price {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0;
  }
  .tickets-section__basic-text,
  .tickets-section__senior-text {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 18px;
  }
  .tickets-section__basic-text {
    padding: 22px 0 0px;
  }
  .tickets-section__senior-text {
    padding: 18px 0 0px;
  }
  .tickets-section__price-num {
    padding-left: 4px;
  }
  .tickets-section__button{
  	padding: 14px 50px 11px;
    font-size: 16px;
  }

  .tickets-modal {
    padding: 0;
  }
  .tickets-modal__container {
    width: 100%;
  }
  .tickets-modal__logo {
    width: 85px;
    height: 41px;
  }
  .tickets-modal__title {
    margin-bottom: 10px;
    font-size: 32px;
    line-height: 40px;
  }
  .contact__content-date-time {
    flex-direction: column;
  }
  .overview-img {
    width: 120px;
    height: 96px;
  }
  .overview-price__table {
    grid-template-columns: 1.5fr 1fr;
  }
  .tickets-modal__card-front {
    position: static;
  }
  .tickets-modal__card-front, 
  .tickets-modal__card-back {
    width: 290px;
  }
  .overview-price__overall {
    margin-bottom: 6px;
  }
  #card-name {
    width: 280px;
  }
  .card-black-line {
    width: 330px
  }

  .contacts-section__text_big {
    font-size: 16px;
    line-height: 19px;
  }
  .contacts-section__text-info {
    padding-top: 34px;
  }
  .contacts-section__text_small {
    padding-bottom: 8px;
  }
  .contacts-section__map {
    background: url(./assets/img/map420.png) no-repeat;
  	margin-top: 28px;
    height: 248px;
  }

  .footer {
    padding-top: 38px;
  }
  .footer-flex {
    flex-direction: column;
  }
  .footer .logo {
    padding-bottom: 26px;
  }
  .footer-flex nav {
    padding-left: 0;
  }
  .footer-menu {
    padding-left: 0;
    column-count: 3;
    column-gap: 17vw;
  }
  .footer-menu__item,
  .footer-copy__text {
    font-size: 16px;
  }
  .social-media {
    column-gap: 5px;
    padding-top: 23px;
    padding-right: 60px;
  }
  .footer-copy__text:nth-of-type(2){
    display: none;
  }
}

@media screen and (max-width: 380px) {
  .three-row-grid {
    padding: 0;
  }
  .footer-menu {
    column-gap: 0vw;
  }
  .card__img {
    width: 260px;
  }
}
