* {
  margin: 0;
}

:root {
  --grey-light: #E0E0E0;
  --grey: #7f7f7f;
  --grey-dark: #434343;
  --black: #0E0E0E;
  --gold-light: #E9DD9D;
  --gold: #C2AD74;
  --gold-dark: #997C49;
  --red: #c53c39;
  --green: #556931;
  --white: #EEEEEE;
  --dark-grad: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%);
  --gold-grad: linear-gradient(120.9deg, #E9DD9D 0%, #997C49 100%);
  --hover-color: #4e616b;
  --shadow-color:rgba(57, 127, 93, 0.4);
  --font-style: 'Quicksand', sans-serif;
  --heading-font-style: 'Playfair Display', serif;
}

body {
  margin: 0 auto;
  max-width: 100vw;
  max-height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: var(--font-style);
  background-color: var(--black);
  color: var(--gold);
  overflow-x: hidden;
}

button {
  border: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

i {
  display: inline-block;
  font-size: 2rem;
}

.main {
  display: flex;
  justify-content: center;
}

.gold-grad {
  background: var(--gold-grad);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.heading {
  font-family: var(--heading-font-style);
  color: var(--gold-light);
}

.submit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16rem;
  color: var(--gold-dark);
  font-family: var(--font-style);
  font-size: 1.3rem;
  font-weight: lighter;
  border: 1px solid var(--gold-dark);
  cursor: pointer;
}

.submit:hover,
.submit:active,
.quiz__btn input:checked,
.quiz__next-btn {
  background-color: var(--gold-dark);
  font-weight: normal;
  color: var(--black);
}

/*-------------START--------------*/

.start__settings {
  padding: 1.5rem;
  color: var(--gold-light);
}

.start__settings i {
  margin-top: 1.5rem;
}

.start__heading {
  font-family: var(--heading-font-style);
  font-size: 5.5rem;
  font-weight: lighter;
  width: min-content;
  padding-top: 11.7rem;
  padding-left: 1.5rem;
  padding-bottom: 0.2rem;
  line-height: 6.2rem;
  letter-spacing: -2px;
}

.start__img {
  width: 100vw;
  height: 100vh;
  background: no-repeat, url(./image-data/img/109.jpg) var(--gold-light) -1rem top;
  background-blend-mode: multiply;
}

.start__container {
  position: absolute;
  bottom: 0;
  padding: 3rem 1rem;
  display: flex;
  align-items: end;
  width: calc(100% - 2rem);
  height: 14rem;
  background: var(--dark-grad);
}

/*-------------CATEGORY--------------*/
.category {
  padding: 1rem;
  width: 100%;
}

.category__navbar {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--gold);
}

.navbar__icon {
  color: var(--gold);
}

.navbar__text {
  font-size: 1.4rem;
  font-weight: 500;
}

.category__items {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
}

.category__item {
  margin-bottom: 0.5rem;
  display: grid;
  grid-template-columns: 0.1fr 1.5fr;
}

.category__decor-dot,
.category__decor-line {
  background-color: var(--grey-dark);
}

.category__decor-active .category__decor-dot,
.category__decor-active .category__decor-line {
  background-color: var(--gold);
}

.category__decor-dot {
  margin-top: 0.4rem;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
}

.category__decor-line {
  margin: 0 0.25rem;
  width: 1px;
  height: 100%;
}

.category__description {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 0.5rem;
  opacity: 0;
}

.category__score {
  color: var(--gold);
}

.category__again-btn {
  color: var(--gold-dark);
}

.category__score i {
  font-size: 1.2rem;
}

.category__again-btn i {
  font-size: 0.8rem;
  color: var(--gold-dark);
}

.category__pic {
  width: 100%;
  height: 8rem;
  background-size: cover;
  background-position-y: center;
  background-color: var(--grey);
  background-blend-mode: multiply;
  border-radius: 0.5rem;
}

.grey-filter {
  filter: grayscale(100%);
}

.category__text {
  padding: 1rem;
  font-family: var(--heading-font-style);
  font-size: 2.2rem;
  color: var(--gold-light);
}

/*-------------QUIZ--------------*/
.quiz__navbar {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.quiz__navbar-answers-correct {
  font-size: 2rem;
}

.quiz__navbar-answers {
  font-size: 1.2rem;
}

.quiz__time {
  display: flex;
  justify-content: center;
  column-gap: 0.6rem;
  padding-bottom: 0.4rem;
}

.quiz__time-text {
  font-size: 2rem;
  font-weight: 500;
  width: 6rem;
}

.quiz__img {
  width: 100vw;
}   

.quiz__heading {
  padding-bottom: 1.5rem;
  font-size: 2.3rem;
  text-align: center;
  line-height: 2.5rem;
  font-weight: 100;
}

.quiz__pagination {
  position: relative;
  top: -1.5rem;
  width: 100%;;
  display: flex;
  justify-content: center;
  column-gap: 1rem;
}

.quiz__dot {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: var(--gold-light);
}

.quiz__dot.active {
  background-color: var(--gold-dark);
}

.quiz__dot.right {
  background-color: var(--green);
}

.quiz__dot.wrong {
  background-color: var(--red);
}

.quiz__btns-set {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  row-gap: 1rem;
}

.quiz__btn {
  width: 46vw;
  height: 10vh;
  user-select: none;
}

label input{
  display:none;
}

.checkmark {
  text-align: center;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

.dark-filter {
  position: absolute;
  top: 0;
  display: none;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

.dark-filter.active {
  display: block;
  background-color: var(--black);
  opacity: 0.5;
}

.quiz__modal {
  bottom: -100%;
  justify-content: space-between;
  height: 48vh;
}

.quiz__modal,
.final__modal {
  position: absolute;
  display: none;
  width: 100%;
  background-color: var(--black);
  transition: 1s ease-in-out;
  z-index: 10;
}

.quiz__modal.show {
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.quiz__modal-img {
  width: 50%;
  height: fit-content;
}

.quiz__modal-text {
  padding: 0 1rem;
  text-align: center;
}

.uil-check-circle {
  color: var(--green);
}

.uil-times-circle {
  color: var(--red);
}

.quiz__modal-text_author {
  font-size: 1.6rem;
  line-height: 1.8rem;
  padding-bottom: 0.8rem;
}

.quiz__next-btn {
  display: block;
  margin: 1rem auto;
  width: 10rem;
  height: 2rem;
  border-radius: 1rem;
  background-color: var(--grey-light);
}

.final__modal {
  top: 20vh;
  height: 60vh;
}

.final__modal.show {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.final__modal-home {
  align-self: flex-start;
  color: var(--gold-dark);
}

.final__modal-img {
  width: 50vw;
  display: block;
  filter: sepia(0.3);
}

.final__modal-text {
  font-size: 1.2rem;
}

.final__modal-score {
  font-size: 2rem;
  font-weight: bold;
}

.final-btn {
  margin: 1rem 0;
}

.final-btn-icon {
  padding-left: 0.3rem;
}

@media (min-width: 1024px) { 
  body {
    max-width: 1024px;
  }
}

@media (min-width: 768px) { 
  body {
    max-width: 768px;
  }
}