<div class="category" id="category">
  <div class="category__navbar">
    <a href="#start" class="navbar__icon"><i class="uil uil-angle-left"></i></a>
    <p class="navbar__text">Category</p>
    <div></div>
  </div>

  <div class="category__items" id="category-items">
    <div class="category__item">
      <div class="category__decor-dot"></div>      
      <div class="category__description">
        <a href="#score" class="category__score">
          Score:
          <span class="category__description-score">1/10</span>
          <i class="uil uil-arrow-right"></i>
        </a>
        <a href="#quiz" class="category__again-btn">Try again
          <i class="uil uil-redo"></i>
        </a>
      </div>
      
      <div class="category__decor-line"></div>
      <a href="#quiz">
        <div class="category__pic grey-filter" style="background-image: url(./image-data/img/118.jpg);" id="portrait">
          <div class="category__text">Portrait</div>
        </div>
      </a>
    </div>

    <div class="category__item">
      <div class="category__decor-dot"></div>      
      <div class="category__description">
        <a href="#score" class="category__score">
          Score:
          <span class="category__description-score">1/10</span>
          <i class="uil uil-arrow-right"></i>
        </a>
        <a href="#quiz" class="category__again-btn">Try again
          <i class="uil uil-redo"></i>
        </a>
      </div>
      
      <div class="category__decor-line"></div>
      <a href="#quiz">
        <div class="category__pic grey-filter" style="background-image: url(./image-data/img/10.jpg);" id="landscape">
          <div class="category__text">Landscape</div>
        </div>
      </a>
    </div>

    <div class="category__item">
      <div class="category__decor-dot"></div>      
      <div class="category__description">
        <a href="#score" class="category__score">
          Score:
          <span class="category__description-score">1/10</span>
          <i class="uil uil-arrow-right"></i>
        </a>
        <a href="#quiz" class="category__again-btn">Try again
          <i class="uil uil-redo"></i>
        </a>
      </div>
      
      <div class="category__decor-line"></div>
      <a href="#quiz">
        <div class="category__pic grey-filter" style="background-image: url(./image-data/img/14.jpg);" id="marine">
          <div class="category__text">Marine</div>
        </div>
      </a>
    </div>

    <div class="category__item">
      <div class="category__decor-dot"></div>      
      <div class="category__description">
        <a href="#score" class="category__score">
          Score:
          <span class="category__description-score">1/10</span>
          <i class="uil uil-arrow-right"></i>
        </a>
        <a href="#quiz" class="category__again-btn">Try again
          <i class="uil uil-redo"></i>
        </a>
      </div>
      
      <div class="category__decor-line"></div>
      <a href="#quiz">
        <div class="category__pic grey-filter" style="background-image: url(./image-data/img/164.jpg);" id="impressionism">
          <div class="category__text">Impressionism</div>
        </div>
      </a>
    </div>

    <div class="category__item">
      <div class="category__decor-dot"></div>      
      <div class="category__description">
        <a href="#score" class="category__score">
          Score:
          <span class="category__description-score">1/10</span>
          <i class="uil uil-arrow-right"></i>
        </a>
        <a href="#quiz" class="category__again-btn">Try again
          <i class="uil uil-redo"></i>
        </a>
      </div>
      
      <div class="category__decor-line"></div>
      <a href="#quiz">
        <div class="category__pic grey-filter" style="background-image: url(./image-data/img/112.jpg);" id="expressionism">
          <div class="category__text">Expressionism</div>
        </div>
      </a>
    </div>

    <div class="category__item">
      <div class="category__decor-dot"></div>      
      <div class="category__description">
        <a href="#score" class="category__score">
          Score:
          <span class="category__description-score">1/10</span>
          <i class="uil uil-arrow-right"></i>
        </a>
        <a href="#quiz" class="category__again-btn">Try again
          <i class="uil uil-redo"></i>
        </a>
      </div>
      
      <div class="category__decor-line"></div>
      <a href="#quiz">
        <div class="category__pic grey-filter" style="background-image: url(./image-data/img/153.jpg);"id="avant-garde">
          <div class="category__text">Avant-garde</div>
        </div>
      </a>
    </div>

    <div class="category__item">
      <div class="category__decor-dot"></div>      
      <div class="category__description">
        <a href="#score" class="category__score">
          Score:
          <span class="category__description-score">1/10</span>
          <i class="uil uil-arrow-right"></i>
        </a>
        <a href="#quiz" class="category__again-btn">Try again
          <i class="uil uil-redo"></i>
        </a>
      </div>
      
      <div class="category__decor-line"></div>
      <a href="#quiz">
        <div class="category__pic grey-filter" style="background-image: url(./image-data/img/154.jpg);" id="renaissance">
          <div class="category__text">Renaissance</div>
        </div>
      </a>
    </div>

    <div class="category__item">
      <div class="category__decor-dot"></div>      
      <div class="category__description">
        <a href="#score" class="category__score">
          Score:
          <span class="category__description-score">1/10</span>
          <i class="uil uil-arrow-right"></i>
        </a>
        <a href="#quiz" class="category__again-btn">Try again
          <i class="uil uil-redo"></i>
        </a>
      </div>
      
      <div class="category__decor-line"></div>
      <a href="#quiz">
        <div class="category__pic grey-filter" style="background-image: url(./image-data/img/108.jpg);" id="surrealism">
          <div class="category__text">Surrealism</div>
        </div>
      </a>
    </div>

    <div class="category__item">
      <div class="category__decor-dot"></div>      
      <div class="category__description">
        <a href="#score" class="category__score">
          Score:
          <span class="category__description-score">1/10</span>
          <i class="uil uil-arrow-right"></i>
        </a>
        <a href="#quiz" class="category__again-btn">Try again
          <i class="uil uil-redo"></i>
        </a>
      </div>
      
      <div class="category__decor-line"></div>
      <a href="#quiz">
        <div class="category__pic grey-filter" style="background-image: url(./image-data/img/61.jpg);" id="realism">
          <div class="category__text">Realism</div>
        </div>
      </a>
    </div>

    <div class="category__item">
      <div class="category__decor-dot"></div>      
      <div class="category__description">
        <a href="#score" class="category__score">
          Score:
          <span class="category__description-score">1/10</span>
          <i class="uil uil-arrow-right"></i>
        </a>
        <a href="#quiz" class="category__again-btn">Try again
          <i class="uil uil-redo"></i>
        </a>
      </div>
      
      <div class="category__decor-line"></div>
      <a href="#quiz">
        <div class="category__pic grey-filter" style="background-image: url(./image-data/img/60.jpg);" id="romaticism">
          <div class="category__text">Romaticism</div>
        </div>
      </a>
    </div>
  </div>
</div>