<div class="final" id="final">
  <div class="navbar">
    <a href="#category" class="navbar__icon"><i class="uil uil-angle-left"></i></a>
    <p class="navbar__text">Results</p>
    <div></div>
  </div>

  <span class="final-text">Ваш результат:</span>
  <img src="../../assets/png/winner.png" alt="winner" class="final-img">
  <span class="final-score" id="final-score"></span>
  <a href="#quiz" id="final-again" class="submit final-btn">Сыграть еще раз <i class="uil uil-redo final-btn-icon"></i></a>
  <a href="#quiz" id="next-game" class="submit final-btn" id="next-game">Следующая игра <i class="uil uil-arrow-right final-btn-icon"></i></a>
</div>